body {
    position: relative;
}

main {
    display: grid;
    padding: 1vw;
    gap: 1vh;
}

button {
    cursor: pointer;
    font-family: "Helvetica Neue Regular";
}

.serverCode {
    color: var(--salmon1-color);
}


.started {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: 83vw;

}

.categoryImgTextBox {
    display: flex;
    align-items: center;
    margin: 2vh 0;
    gap: 8px;
}

.timer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: ;
    align-items: center;

    & .timerContainer {
        display: flex;
    }

    & .timerIcon {
        height: 20vh;
        width: 37vw;
        max-height: 187px;
        max-width: 160px;
        background-image: url("../resources/icons/timer.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 17vh;
    }

    & .timerValue {
        font-size: clamp(3rem, 18vw, 5rem);
        font-family: "Helvetica Neue Regular";
        margin: 0;
        color: #646464;
    }

}

.lobby {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.lobby>h1 {
    margin: 0;
    font-family: "Helvetica Neue Regular";
}

.lobby>h3 {
    margin-bottom: 0;
    font-family: "Helvetica Neue Regular";
}



#start {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#kategoryBox {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}



#kategoryImg {
    height: 30px;
    width: 30px;
    background-color: var(--greige-color);
    margin: 5px;
}



/*question view ___________________________*/
#middleSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & .playerBtn {
        width: 100px;
        padding: 10px 0;
        margin-top: 5px;
    }
}


.voteContainer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.voteWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100px;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hidden {
    display: none;
}