* {
    box-sizing: border-box;
}

body {
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1;
    width: 40px;
    height: 40px;
    margin: 50px 0 0 50px;
    justify-self: left;
}

main {
    grid-row: 2;
    display: grid;
    padding: 1vw;
    gap: 1vh;
}

.joinLobby {
    grid-template-rows: 1fr 1fr;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px 0 50px;
}

header > h1 {
    margin: 0;
}

header > h3 {
    margin-bottom: 0;
}

header > p {
    grid-row: 3;
    margin-top: 10px;
}

#players {
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1fr;
    background-color: white;
    margin: 0 50px 0 50px;
    padding: 20px;
    width: 50vw;
    height: 20vh;
}

#players > h3 {
    margin: 0;
}

#playerNames {
    padding-top: 10px;
    gap: 5px;
    grid-column: 1 / span 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;

    & p {
        margin: 0;
        text-align: center;
        width: 45%;
        padding: 5px 10px;
        border-radius: 10px;
    }
}

#start {
    display: flex;
    justify-content: center;
}

#startQuiz {
    background-color: var(--salmon1-color);
    width: 15rem;
    height: 4rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    border: none;
    /* box-shadow: 1px 1px 1px black; */
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/*question view ___________________________*/
#middleSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    & .playerBtn {
        width: 100px;
        padding: 10px 0;
        margin-top: 5px;
    }
}

.winner {
    background-color: green;
}

.voteContainer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.voteWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100px;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nextBtn {
    width: 200px;
    background-color: var(--salmon1-color);
}

#leaderBoard {
    justify-self: center;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hidden {
    display: none;
}