:root {
    /*color base*/
    --white-color: #ffffff;
    --black-color: #1E1F20;
    --beige-color: #F6EFE8;
    --greige-color: #B8B1AA;
    --grey-color: #D9D9D9;

    /*color pop*/
    --blue-color: #32317F;
    --purple-color: #463F5B;
    --pink-color: #F7BBB6;
    --salmon1-color: #EE7668;
    --salmon2-color: #F2AE99;
    --salmon3-color: #CE7861;
}

.bac {
    background-color: #ffffff;
}

.message {
    font-size: 12px;
    color: var(--salmon1-color);
    letter-spacing: 2px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    height: 16px;
    text-align: center;
}

.h1 {
    font-size: clamp(.813rem, 10vw, 4rem);
    font-family: "Helvetica Neue Regular";
    letter-spacing: 4px;
    margin: 3vh 0;
}

.h2 {
    font-size: clamp(.813rem, 5vw, 2rem);
    font-family: "Helvetica Neue Regular";
    letter-spacing: 4px;
    margin: 3vh 0;
}

.h2NoMargin {
    font-size: clamp(.813rem, 4.5vw, 2rem);
    font-family: "Helvetica Neue Regular";
    letter-spacing: 4px;
    margin: 0;
}

.h2Center {
    font-size: clamp(.813rem, 4.5vw, 2rem);
    font-family: "Helvetica Neue Regular";
    letter-spacing: 4px;
    margin: 3vh 0;
    text-align: center;
}

.h3 {
    font-size: clamp(.813rem, 3.4vw, 1.25rem);
    font-family: "Helvetica Neue Regular";
    letter-spacing: 3px;
    margin: 0;
}

.h4 {
    font-size: clamp(.813rem, 3.4vw, 1.25rem);
    font-family: "Helvetica Neue Thin";
    letter-spacing: 2px;
    margin: 0;
}

.pp {
    text-align: start;
    font-size: clamp(.625rem, 3vw, 1rem);
    color: #646464;
    letter-spacing: 2px;
    margin: .5vh 0 0 0;
}

.ppp {
    text-align: start;
    font-size: clamp(.625rem, 3.5vw, 1.25rem);
    color: #646464;
    letter-spacing: 2px;
    margin-bottom: 3vh;
}

.pppp {
    text-align: start;
    font-size: clamp(.625rem, 2vw, 0.75rem);
    color: #646464;
    letter-spacing: 1px;
    margin: 0;
}

.iconInLobby {
    height: 3.3vh;
    width: 7vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#joinLobbyMessage {}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    background-image: url("../resources/Background-desktop.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

button {
    letter-spacing: 5px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.hidden {
    display: none;
}

#hidden {
    display: none;
}

#hostName {
    outline: none;
}

.maxCharacters {
    border: 1px solid red;
    animation: maxCharactersInput .3s;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1;
    width: 30px;
    height: 30px;
    margin: 5vw;
    justify-self: left;
    background-image: url(../resources/icons/home_button.png);
    background-size: cover;
    background-position: center;
}

@keyframes maxCharactersInput {
    25% {
        transform: translateX(4px);
    }

    50% {
        transform: translateX(-4px);
    }

    75% {
        transform: translateX(4px);
    }
}

@font-face {
    font-family: "Helvetica Neue Bold";
    src: url("../resources/helvetica-neue/HelveticaNeueBold.ttf");
}

@font-face {
    font-family: "Helvetica Neue Regular";
    src: url("../resources/helvetica-neue/HelveticaNeueMedium.ttf");
}

@font-face {
    font-family: "Helvetica Neue Thin";
    src: url("../resources/helvetica-neue/HelveticaNeueLight.ttf");
}

* {
    box-sizing: border-box;
    font-family: "Helvetica Neue Thin";

}

/*Creating lobby steps*/

.joinLobby {
    display: flex;
    flex-direction: column;
    width: 80vw;
    min-height: 300px;
    justify-self: center;
}

.steps {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    justify-self: center;
}

.step {
    width: 70px;
    height: 5px;
    border-radius: 20px;
    background-color: var(--white-color);
}

.full {
    background-color: var(--greige-color);
}

/*Leaderboard*/

#leaderBoard {
    grid-row: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#leaderBoard>h3 {
    width: 100vw;
    font-size: 30px;
}

#leaderBoardBox {
    display: flex;
    flex-direction: column;
    width: 70vw;
    gap: 2vh;
}

#metrics {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#metrics>div {
    display: flex;
    gap: 10px;
    align-items: end;
}

.metricsIMG {
    height: 2vh;
    width: 4vw;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.rank {
    background-image: url(../resources/icons/rank.png);
}

.name {
    background-image: url(../resources/icons/name.png);
}

.points {
    background-image: url(../resources/icons/points.png);
}

#playerWrapper {
    height: 40vh;
    display: flex;
    flex-direction: column;
    width: 70vw;
    gap: 2vh;
}

.player {
    position: relative;
    display: flex;
    justify-content: space-between;
    border: solid black 2px;
    padding: 1.5vh 4vw;
    border-radius: 10px;
    align-items: center;

}

.winner0::before,
.winner1::before,
.winner2::before {
    content: "";
    position: absolute;
    width: 7vw;
    height: 3.3vh;
    left: -4vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.winner0::before {
    background-image: url("../resources/icons/red.png");
}

.winner1::before {
    background-image: url("../resources/icons/blue.png");
}

.winner2::before {
    background-image: url("../resources/icons/blueblue.png");
}



.leaderBoardName {
    width: 45%;
    border-radius: 10px;
}

.leaderBoardPoints {}

.pointsGained {
    color: green;
}

/*Categories*/

.categoryImg {
    height: 4.3vh;
    width: 9.3vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.ÖVRIGT {
    background-image: url(../resources/icons/random.png);
}

.FYSISKT {
    background-image: url(../resources/icons/fysisk.png);
}

.FESTLIGHETER {
    background-image: url(../resources/icons/fest.png);
}

.HISTORIA {
    background-image: url(../resources/icons/history.png);
}

.VÄRLDEN {
    background-image: url(../resources/icons/världen.png)
}

.MUSIK {
    background-image: url(../resources/icons/music.png);
}

/*Players*/

#players {
    background-color: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

#players>h3 {
    text-align: start;
    margin: 0;
    height: 30px;
    font-family: "Helvetica Neue Regular";
}

#players .h3::after {}

.timeGlass {
    height: 2.2vh;
    width: 4.7vw;
    background-image: url(../resources/icons/time.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.playersTextIconContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 1vh;
}

#playerNames {
    padding-top: 10px;
    gap: 10px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    overflow: scroll;

    & p {
        margin: 0;
        text-align: center;
        width: 47%;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
    }
}

/*
body {
    background-image: url("../resources/et.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


body {
    background-image: url("../resources/Background_phone.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
*/

/*_________________vote for players*/
.vinnare {
    justify-content: center;
}

.cardContainer {
    position: relative;
    width: 81vw;
    height: 56vh;
    max-height: 520px;
    min-height: 350px;
    max-width: 350px;
    min-width: 260px;

    background-color: white;
    border-radius: 20px;
    padding: 5vh 7vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;

    & * {
        letter-spacing: 2px;
    }

    & p {
        font-size: clamp(.625rem, 3vw, 2rem);
        font-family: "Helvetica Neue Regular";
        margin: 5px 0;
    }

    & h3 {
        text-align: center;
        font-size: clamp(.813rem, 4vw, 1.25rem);
        font-family: "Helvetica Neue Regular";
        font-weight: 200;
        margin-bottom: 30px;
    }

    & h4 {
        font-size: clamp(.75rem, 4vw, 1rem);
        font-family: "Helvetica Neue Regular";
        font-weight: 200;
    }

    & button {
        font-size: clamp(.625rem, 3vw, 2rem);
        padding: 2vw 10vw;
        width: 100%;
        height: 7vh;
        min-height: 30px;
        max-height: 50px;

        border: 2px solid;
        border-radius: 5px;
        background-color: white;
        font-family: "Helvetica Neue Bold";
        /* font-weight: bold; */
        cursor: pointer;
    }

    &::before {
        content: "";
        position: absolute;
        height: 56vh;
        width: 77vw;
        max-height: 520px;
        min-height: 350px;
        max-width: 330px;
        min-width: 245px;
        top: 1.5vh;
        z-index: -1;
        background-color: rgba(255, 255, 255, 0.600);
        border-radius: 20px;
    }

    &::after {
        content: "";
        position: absolute;
        top: 3vh;
        z-index: -2;
        height: 56vh;
        width: 70vw;
        max-height: 520px;
        min-height: 350px;
        max-width: 300px;
        min-width: 225px;
        background-color: rgba(255, 255, 255, 0.400);
        border-radius: 20px;
    }
}

.questionBarContainer {
    position: relative;
    width: 100%;
    height: 1vh;
    min-height: 6px;
    max-height: 8px;
    border-radius: 8px;
    background-color: lightgray;

    & .questionBarChild {
        position: absolute;
        height: 1vh;
        min-height: 6px;
        max-height: 8px;
        border-radius: 8px;
        background-color: gray;
    }

}

.buttonNext {
    background-color: #EE7668;
    color: white;
    padding: 15px;
    border-radius: 50px;
    width: 58vw;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    position: relative;

    & .headerLogo {
        width: 55vw;
        margin-top: 40px;
    }

    & .home {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 7.15vw;
        height: 3.3vh;
        background-image: url(../resources/icons/home_button.png);
        background-size: cover;
        background-position: center;
        top: 20px;
        left: 20px;
        cursor: pointer;
    }


}

#joinNextButton {}

input {
    font-size: 16px;
    color: #333;
    border: none;
}

.labels {
    letter-spacing: 3px;
}

dialog {
    position: absolute;
    top: 20vh;
    width: 300px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 3;
    font-size: clamp(.625rem, 3vw, 2rem);

    & h2 {
        color: #333;
        font-size: 1.2em;
        margin-bottom: 20px;
    }

    & button {
        padding: 10px 20px;
        margin: 0 10px;
        font-size: 1em;
        cursor: pointer;
    }

    & #quit {
        background-color: #4CAF50;
        color: #fff;
        border: none;
    }

    & #close {
        background-color: #ccc;
        color: #333;
        border: none;
    }

    & button:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    }
}