:root {
    /*color base*/
    --white-color: #ffffff;
    --black-color: #1E1F20;
    --beige-color: #F6EFE8;
    --greige-color: #B8B1AA;
    --grey-color: #D9D9D9;

    /*color pop*/
    --blue-color: #32317F;
    --purple-color: #463F5B;
    --pink-color: #F7BBB6;
    --salmon1-color: #EE7668;
    --salmon2-color: #F2AE99;
    --salmon3-color: #CE7861;
}

.bac {
    background-color: #ffffff;
}

.message {
    font-size: 12px;
    color: red;
    letter-spacing: 2px;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    background-image: url("../resources/Background-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

button {
    letter-spacing: 5px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

#hostName {
    outline: none;
}

.maxCharacters {
    border: 1px solid red;
    animation: maxCharactersInput .3s;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1;
    width: 30px;
    height: 30px;
    margin: 5vw;
    justify-self: left;
    background-image: url(../resources/icons/home_button.png);
    background-size: cover;
    background-position: center;
}

@keyframes maxCharactersInput {
    25% {
        transform: translateX(4px);
    }

    50% {
        transform: translateX(-4px);
    }

    75% {
        transform: translateX(4px);
    }
}

@font-face {
    font-family: "Helvetica Neue Bold";
    src: url("../resources/helvetica-neue/HelveticaNeueBold.ttf");
}

@font-face {
    font-family: "Helvetica Neue Regular";
    src: url("../resources/helvetica-neue/HelveticaNeueMedium.ttf");
}

@font-face {
    font-family: "Helvetica Neue Thin";
    src: url("../resources/helvetica-neue/HelveticaNeueLight.ttf");
}

* {
    box-sizing: border-box;
    font-family: "Helvetica Neue Thin";

}

/*Creating lobby steps*/
#steps {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 12vh;
    justify-self: center;
}

.step {
    width: 70px;
    height: 5px;
    border-radius: 20px;
    background-color: var(--white-color);
}

.full {
    background-color: var(--greige-color);
}

/*Leaderboard*/

#leaderBoard {
    grid-row: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#rank::after {
    content: "";
    display: block;
    height: 30px;
    width: 30px;
    background-color: gray;
    position: relative;
    bottom: 24px;
    left: 40px;
}

#name::after {
    content: "";
    display: block;
    height: 30px;
    width: 30px;
    background-color: gray;
    position: relative;
    bottom: 24px;
    left: 45px;
}

#points::after {
    content: "";
    display: block;
    height: 30px;
    width: 30px;
    background-color: gray;
    position: relative;
    bottom: 24px;
    left: 50px;
}

#leaderBoard>h3 {
    width: 100vw;
    height: 10vh;
    font-size: 6vw;
}

#leaderBoardBox {
    display: flex;
    flex-direction: column;
    width: 70vw;
    gap: 2vh;
    height: 60vh;
    overflow: scroll;
}

#metrics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;
}

.player {
    display: flex;
    justify-content: space-between;
    border: solid black 2px;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    align-items: center;
}

.leaderBoardNr {
    font-weight: bold;
}

.leaderBoardName {
    width: 45%;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
}

.leaderBoardPoints {}

/*Players*/

#players {
    background-color: white;
    margin: 0 50px 0 50px;
    padding: 20px;
    width: 80vw;
}

#players>h3 {
    text-align: start;
    margin: 0;
    height: 30px;
}

#players>h3::after {
    content: "";
    height: 20px;
    width: 20px;
    background-color: var(--greige-color);
    ;
    display: block;
    position: relative;
    bottom: 20px;
    left: 75px;
}

#playerNames {
    padding-top: 10px;
    gap: 10px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    overflow: scroll;

    & p {
        margin: 0;
        text-align: center;
        width: 48%;
        padding: 5px 10px;
        border-radius: 10px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
    }
}

/*
body {
    background-image: url("../resources/et.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


body {
    background-image: url("../resources/Background_phone.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
*/

/*_________________vote for players*/
.cardContainer {
    position: relative;
    width: 81vw;
    height: 56vh;
    max-height: 520px;
    min-height: 350px;
    max-width: 350px;
    min-width: 260px;

    background-color: white;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 7vw;

    & * {
        letter-spacing: 2px;
    }

    & p {
        margin-top: 2vh;
        font-size: 12px;
    }

    & h3 {
        text-align: center;
        font-size: clamp(.813rem, 4vw, 1.25rem);
        font-family: "Helvetica Neue Regular";
        font-weight: 200;
        margin-bottom: 30px;
    }

    & h4 {
        font-size: clamp(.75rem, 4vw, 1rem);
        font-family: "Helvetica Neue Regular";
        font-weight: 200;
    }

    & button {
        font-size: clamp(.625rem, 3vw, 2rem);
        padding: 2vw 10vw;
        margin-top: 2vh;
        width: 100%;
        height: 7vh;
        min-height: 30px;
        max-height: 50px;

        border: 2px solid;
        border-radius: 5px;
        background-color: white;
        font-family: "Helvetica Neue Bold";
        /* font-weight: bold; */
        cursor: pointer;
    }

    &::before {
        content: "";
        position: absolute;
        height: 56vh;
        width: 77vw;
        max-height: 520px;
        min-height: 350px;
        max-width: 330px;
        min-width: 245px;
        top: 1.5vh;
        z-index: -1;
        background-color: rgba(255, 255, 255, 0.600);
        border-radius: 20px;
    }

    &::after {
        content: "";
        position: absolute;
        top: 3vh;
        z-index: -2;
        height: 56vh;
        width: 70vw;
        max-height: 520px;
        min-height: 350px;
        max-width: 300px;
        min-width: 225px;
        background-color: rgba(255, 255, 255, 0.400);
        border-radius: 20px;
    }
}

.questionBarContainer {
    position: relative;
    width: 100%;
    height: 1vh;
    min-height: 6px;
    max-height: 8px;
    border-radius: 8px;
    background-color: lightgray;

    & .questionBarChild {
        position: absolute;
        height: 1vh;
        min-height: 6px;
        max-height: 8px;
        border-radius: 8px;
        background-color: gray;
    }

}

.buttonNext {
    background-color: #EE7668;
    color: white;
    padding: 15px;
    border-radius: 50px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    & .headerLogo {
        width: 60vw;
        margin-top: 40px;
    }

    & .home {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 7.15vw;
        height: 3.3vh;
        background-image: url(../resources/icons/home_button.png);
        background-size: cover;
        background-position: center;
        top: 20px;
        left: 20px;
        cursor: pointer;
    }

    /* width: 58vw; */

}

#joinNextButton {
    position: relative;
    bottom: 13vh;
}

input {
    font-size: 16px;
    color: #333;
    border: none;
}

.labels {
    letter-spacing: 2px;
}