* {
    box-sizing: border-box;
}

body {
    grid-template-rows: 0.5fr 1fr 0.5fr;
}

#timerBox {
    width: 40vw;
    height: 10px;
    position: absolute;
    top: 15vh;
    display: flex;
    background-color: white;
    justify-self: center;
}

#timerBar {
    justify-content: start;
    background-color: var(--greige-color);
}

main {
    grid-row: 2;
    display: grid;
    padding: 1vw;
    gap: 1vh;
}

.joinLobby {
    display: grid;
    justify-content: center;
    justify-self: center;
    background-color: white;
    border-radius: 20px;
    width: 80vw;
    min-height: 300px;
    text-align: center;
}

.lobby {
    display: flex;
    justify-content: center;
}

#users {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 0px;

    & p {
        margin: 0;
        background-color: rgb(201, 201, 201);
        padding: 5px 10px;
        border-radius: 10px;
    }
}

#startQuiz {
    width: 15rem;
    height: 4rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    border: none;
    /* box-shadow: 1px 1px 1px black; */
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/*question view ___________________________*/
#middleSection {
    margin-top: 200px;
}

#users > button {
    width: 100%;
    padding: 10px 0;
    margin-top: 5px;
}

.winner {
    background-color: green;
}

#message {
    justify-self: center;
}

.hidden {
    display: none;
}