@font-face {
    font-family: "Helvetica Neue Bold";
    src: url("../resources/helvetica-neue/HelveticaNeueBold.ttf");
}

@font-face {
    font-family: "Helvetica Neue Regular";
    src: url("../resources/helvetica-neue/HelveticaNeueMedium.ttf");
}

@font-face {
    font-family: "Helvetica Neue Thin";
    src: url("../resources/helvetica-neue/HelveticaNeueLight.ttf");
}

* {
    box-sizing: border-box;
    font-family: "Helvetica Neue Thin";
}


body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 0.5fr 5fr 1fr;
    background-image: url("../resources/Background-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#info {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1;
    width: 30px;
    height: 30px;
    justify-self: right;
    margin: 5vw;
}

#back {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1;
    width: 40px;
    height: 40px;
    margin: 5vw;
    justify-self: left;
}

#box {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    gap: 1vh;
}

.startpageButton {
    width: 70vw;
    max-width: 400px;
}

#img {
    width: 60vw;
    max-width: 200px;
    height: 20vh;
    max-height: 200px;
    background-image: url("../resources/icons/faviconmountsun.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#waves {
    background-color: gainsboro;
}

#start {
    background-color: #98B4DF;
    color: white;
}

#join {
    background-color: #4C4B76;
    color:white;
}

h1 {
    letter-spacing: 10px;
    font-size: 17px;
    font-family: "Helvetica Neue Regular";
}

button {
    letter-spacing: 5px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

@media  (max-width: 500px) {
	body {
        background-image: url("../resources/Background_phone.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }    
};

