#info {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1;
    width: 30px;
    height: 30px;
    justify-self: right;
    margin: 50px 50px 0 0;
}

#back {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1;
    width: 40px;
    height: 40px;
    margin: 50px 0 0 50px;
    justify-self: left;
}

#box {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    gap: 1vh;
}

.startpageButton {
    width: 70vw;
    max-width: 400px;
}

#img {
    width: 60vw;
    max-width: 200px;
    height: 20vh;
    max-height: 200px;
    background-image: url("../resources/icons/faviconmountsun.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#start {
    background-color: #98B4DF;
    color: white;
}

#join {
    background-color: #4C4B76;
    color:white;
}

h1 {
    letter-spacing: 10px;
    font-size: 17px;
    font-family: "Helvetica Neue Regular";
}

@media  (max-width: 500px) {
	body {
        background-image: url("../resources/Background_phone.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }    
};

