#info {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1;
    width: 30px;
    height: 30px;
    justify-self: right;
    margin: 5vw;
    background-image: url("../resources/icons/info_button.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
}

#infoBox {
    height: 200px;
    width: 180px;
    background-color: white;
    position: absolute;
    right: 20px;
    z-index: 1;
    border-radius: 10px;
    top: 60px;
    display: none;
}

#infoBox.show {
    display: block;
}

.list {
    font-size: 10px;
    line-height: 15px;
    margin: 10px;
    text-align: start;
    margin: 16px;
}

#textDecoration {}

#box {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 1vw;


    & .wrapper {
        display: flex;
        flex-direction: column;
        width: 60vw;
        max-width: 250px;
        margin-top: 30px;
        gap: 5px;
    }

    & label {
        text-align: left;
        font-size: 16px;
    }

    & input {
        height: 50px;
        border-radius: 10px;
        font-size: 20px;
        color: #B8B1AA;
        letter-spacing: 2px;
    }

    & #joinBtn {
        margin-top: 100px;
        width: 250px;
        background-color: var(--salmon1-color);
    }
}

.inputUserName {
    width: 72vw;
    font-size: 19px;
    position: relative;
    bottom: 150px;
}

.inputNames {
    padding-left: 15px;
}

input::placeholder {
}



.labelName {
   position: relative;
   bottom: 165px;
   text-align: end;
   right: 86px;
}


.inputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.serverCode {
    width: 50px;
    text-align: center;
}

.startpageButton {
    width: 70vw;
    max-width: 400px;
}

#img {
    width: 372px;
    /*  max-width: 372px; */
    height: 212px;
    /*  max-height: 212px; */
    background-image: url("../resources/logga_main.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#start {
    background-color: #EE7668;
    color: white;
    padding: 15px;
}

#join {
    background-color: #FCC2B6;
    color: white;
    padding: 15px;
}

h1 {
    letter-spacing: 10px;
    font-size: 17px;
    font-family: "Helvetica Neue Regular";
}

#gameInfo {
    text-align: center;
    position: relative;
    bottom: 173px;    
    max-width: 300px;
    line-height: 30px;
    letter-spacing: 2px;
}

#infoTitle {
    text-align: center;
}

button {
    letter-spacing: 5px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

#infoIMG {
    background-image: url("../resources/info.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*Kategorier*/

h3 {
    margin: 0;
}

#categoryWrapper {
    overflow: scroll;
    height: 50vh;
    width: 80vw;
}

.categoryCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    border: white solid 2px;
    height: 10vh;
    padding: 15px;
}

.categoryTextBox > p {
    text-align: start;
    margin: 0;
}

.categoryCard:hover {
    border: black solid 2px;
    cursor: pointer;
}

.categoryImg {
    height: 40px;
    width: 40px;
    background-color: gray;
}

.categoryTextBox {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    width: 60vw;
}

.categoryTextBox>h3 {
    margin: 0;
}

@media (max-width: 500px) {
    body {
        background-image: url("../resources/Background_phone.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
    }

    #img {
        position: absolute;
        top: 150px;
        height: 390px;
        width: 390px;
    }

    #start {
        position: absolute;
        bottom: 187px;
    }

    #join {
        position: absolute;
        bottom: 125px;
    }
}

